  /*------------------------- header 영역 ------------------------ */
  
  .cgv-top {
      position: relative;
      width: 100%;
      height: 80px;
      background-color: black;
      text-align: center;
  }
  /* header x 표시 */
  
  .cgv-top-x {
      position: absolute;
      bottom: 5px;
      left: 1230px;
      bottom: 53px;
      cursor: pointer;
  }
  /* cgv-top-content */
  
  .cgv-top-content {
      width: 980px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
  }
  /* header CGV Main */
  
  .cgv-top-main {
      width: 120px;
  }
  /* header top main span */
  
  .cgv-top-content-main span {
      letter-spacing: 5px;
      color: #222;
  }
  /* cgv-top-content-info */
  
  .cgv-top-content-info {
      display: flex;
      height: 36px;
      align-items: center;
  }
  /* cgv - 현대카드  */
  
  .cgv-hyundaecard {
      width: 100%;
      transform: translate(0%, 30%);
  }
  
  .cgv-info-class {
      width: 35px;
      padding-left: 40px;
  }
  
  .cgv-info-class-text {
      position: absolute;
      top: 150px;
      font-size: 13px;
      transform: translate(-90%, 0);
      font-size: #666;
  }
  
  #cgv-top-hr {
      border: 0;
      height: 0.1px;
      background-color: #bbb;
      margin-top: 35px;
  }
  /*-- header 메뉴바 영역 -- */
  
  .vl {
      width: 1px;
      height: 100px;
      border: 0;
      background-color: #bbb;
  }
  
  .menubar-bundle {
      display: flex;
      width: 980px;
      overflow: hidden;
      margin: 0 auto;
  }
  
  .menubar-bundle>li {
      width: 20%;
      line-height: 40px;
      float: left;
      background-color: white;
      font-size: 14px;
      position: relative;
      z-index: 1000 !important;
  }
  
  .menubar-bundle a {
      color: black;
  }
  
  .header-submenu-bar {
      height: 0;
      overflow: hidden;
      top: 100%;
      /* 메뉴가 본문에 영향을 주지 않도록 설정 */
      z-index: 0;
      /* 메뉴가 내용 위로 나올 수 있도록 설정 */
  }
  
  .header-submenu-bar li a {
      color: #666;
  }
  
  .menubar-bundle li:hover {
      transition-duration: 1s;
  }
  
  .menubar-bundle>li:hover .header-submenu-bar,
  .menubar-bundle:hover .header-submenu-bar {
      height: 250px;
      transition-duration: 0.5s;
  }
  
  .main-bar {
      font-weight: 500;
      font-size: 16px;
      color: #222;
  }
  
  .header-submenu-bar-main {
      font-weight: 700;
      font-size: 14px;
      color: #222;
      line-height: 20px;
  }
  
  .header-search {
      display: inline-flex;
      position: absolute;
      right: 0;
      top: 7px;
      padding: 0 36px 0 10px;
  }
  /*------------------------- main 영역 ------------------------ */
  
  main {
      height: 1000px;
      position: relative;
      z-index: 1;
  }
  
  .main-section01-movie {
      position: relative;
      height: 550px;
      background-color: #000;
  }
  
  .section01-contents {
      width: 1000px;
      height: 100%;
      margin: 0 auto;
  }
  
  .video-content {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
  }
  /* ----------------------- footer 영역 ------------------------ */
  
  footer {
      background-color: #f8f8f8;
      height: 430px;
  }
  
  .footer-wrapper {
      width: 100%;
      margin: auto;
      height: 240px;
      background-color: #f8f8f8;
  }
  
  .policy-list {
      display: flex;
      width: 970px;
      margin: auto;
      padding-bottom: 25px;
  }
  
  .policy-list li a {
      font-weight: 500;
      font-size: 13px;
      color: #666;
      padding: 5px;
  }
  
  .policy-list-hr {
      width: 970px;
      margin: auto;
      size: 10px;
      border: 0;
      height: 0.1px;
      background-color: #bbb;
  }
  
  #policy-list-info {
      font-weight: bold;
      color: black;
      text-decoration: underline;
  }
  
  .cgv-info-list {
      font-size: 12px;
      padding-top: 25px;
      color: #666;
      font-weight: 400;
  }
  
  .cgv-info-list ul li {
      padding: 4px;
  }
  
  .cgv-info {
      display: flex;
      width: 970px;
      margin: auto;
  }
  
  #family-site {
      height: 34px;
      font-size: 12px;
      color: #666;
      line-height: 34px;
      border: none;
      background-color: transparent;
      border: 1px solid #d8d8d8;
      position: absolute;
      right: 317px;
      bottom: -950px;
      padding-left: 5px;
      width: 170px;
  }
  /* footer - 계열사 바로가기 - GO */
  
  .family-site-connect {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 34px;
      margin-left: -1px;
      font-size: 14px;
      color: #fff;
      line-height: 34px;
      background-color: #9e9e9e;
      vertical-align: top;
      position: absolute;
      right: 275px;
      bottom: -950px;
  }